body {
	background-color: white;
	font-family: Verdana;
}
nav li {
	text-align: center;
}
nav ul {
	background-color: #ff8c00;
	border: 3px solid #ff8c00;
	width: 100%;
}
main {
	margin-top: 50px;
}
article {
	background-color: #ffebcd;
	margin-bottom: 20px;
	padding: 9px;
	border: 1px solid black;
	box-shadow: 2px 2px 5px grey;
	overflow: auto;
}
.scaled {
	height: 90%;
}
footer {
	margin: 50px;
}
h1{
	padding: 20px;
	text-align: center;
}
.nav-item:hover {
	background-color: white;
}
.currentPage {
	text-decoration: none;
	cursor: not-allowed;
	pointer-events: none;
}
.center {
	text-align: center;
}
.headshot {
	float: right;
	border: 1px solid black;
	margin: 20px;
	width: 200px;
}
.picture {
	width: 100%;
	border-radius: 50%;
}
.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0;
}
a {
	color: black;
}
a:hover {
	color: #a0522d;
}
@media screen and (max-width: 480px) {
	.nav-item {
		float: none;
		width: 100%;
	}
	.headshot {
		width: 150px;
	}
}
